.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;
}

.title > h2 {
    font-size: var(--font-700);
    font-weight: 600;
}

.items__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}