.btn {
    width: 200px;
    height: 60px;
    border-radius: var(--border-radius);
    background-color: var(--primary-yellow);
    color: #000;
    font-weight: 600;
    font-size: var(--font-400);
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.5;
}