
.wrapper {
    background-color: var(--secondary-light-gray);
    padding: 20px;
    border-radius: var(--border-radius);
}

.img {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.img > img {
    width: 80px;
    border-radius: var(--border-radius);
}

.wrapper > p {
    line-height: 1.4;
    font-size: var(--font-300);
}