.nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    color: var(--secondary-light-gray);
    margin-top: 10px;
}

.nav a {
    cursor: pointer;
}

.nav a:hover {
    opacity: 0.5;
}